@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Itim&display=swap');

header, footer{
    background: #f1ff2a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
main{
    padding: 20px;
}
.goblinone{
  font-family: 'Goblin One', cursive;
}
.itim{
  font-family: 'Itim', cursive;
}

@media screen and (max-width: 500px) {
    a {
      display: block;
    }
  }